{% extends 'base.html' %}
{% block content %}
<section class="section">
<div class="content">
    <div class="content">
        <h2>Popular Themes from your Youtube Channel</h2>
    </div>
</section>
<section class="section">
    <div class="content">
        <div class="columns">
            <table>
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                </tr>
                </thead>
                <tbody>
                    {% for theme in themes %}
                        <tr>
                            <td>{{ theme.id }}</td>
                            <td>{{ theme.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
{% endblock %}
